
.icon{
  display: inline-block;
  height: 160px;
  position: relative;
}


.cloud{
  height: 60px;
  width: 60px;
  background: #fff;
  border-radius: 50%;
  opacity: .95;
  box-shadow: 34px 30px 0 4px #fff,
  -8px 30px 0 4px #fff,
  -38px 24px 0 8px #fff;
}

.rain{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20px;
  width: 20px;
}

.rain:after {
  content: '';
  position: absolute;
  left: 150%;
  top: 100%;
  z-index: 2;
  width: 20px;
  height: 20px;
  background: #4d90fe;
  border-radius: 100% 0 70% 70% / 70% 0 100% 70%;
  transform: rotate(-64deg);
  box-shadow: -2px 30px 0 -1.8px #4d90fe,
  -26px -10px 0 -2px #4d90fe,
  -30px 24px 0 -4px #4d90fe;
  animation: rain 3s linear infinite;
}


.rain:nth-child(2):after{
  left: -200%;
  top: 100%;
}



@keyframes rain {
  0% {
    background: #4d90fe;
    box-shadow: -2px 30px 0 -1.8px rgba(255,255,255,0.2),
    -26px -10px 0 -2px rgba(255,255,255,0.2),
    -30px 24px 0 -4px #4d90fe;
  }
  25% {
    box-shadow: -2px 30px 0 -1.8px #4d90fe,
    -26px -10px 0 -2px rgba(255,255,255,0.2),
    -30px 24px 0 -4px rgba(255,255,255,0.2);
  }
  50% {
    background: rgba(255,255,255,0.2);
    box-shadow: -2px 30px 0 -1.8px rgba(255,255,255,0.2),
    -26px -10px 0 -2px #4d90fe,
    -30px 24px 0 -4px rgba(255,255,255,0.2);
  }
  100% {
    box-shadow: -2px 30px 0 -1.8px rgba(255,255,255,0.2),
    -26px -10px 0 -2px rgba(255,255,255,0.2),
    -30px 24px 0 -4px #4d90fe;
  }
}

@keyframes lightning{
  45%{
    color: #fff;
    opacity: 0.2;
  }
  50%{
    color: #fff705;
    opacity: 1;
  }
  60%{
    color: #fff;
    opacity: 0.3;
  }
  70%{
    color: #fff;
    opacity: 0.7;
  }
}

@keyframes spin{
  100%{
    transform: rotate(360deg);
  }
}

@keyframes clouds{

  100%{
    left: 20%;
  }
}



.weatherIcon{
  margin: 0 auto;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
}







