.searchBox {
    width: 100%;
    margin: 25px 0 25px;
    padding: 0 25px;
}

.searchBox .searchBar {
    display: block;
    width: 100%;
    padding: 15px;

    appearance: none;
    background: none;
    border: none;
    outline: none;
    background-color: rgba(255,255,255,0.75);
    border-radius: 0px 0px 15px 15px;
    margin-top: -25px;
    box-shadow: 4px 5px rgba(0,0,0, 0.3) ;
}
.searchBox .searchBar:focus {
    background-color: rgba(255,255,255,0.98);

}

.buttonInput{
    display: none;
}
