* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
}
body {
  font-family: 'montseratt' , sans-serif;

}


.weather {
  z-index: 2;
}
.app {
  background-image: url('./assets/autumn.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.2s ease-out;
  width:500px;
  height:500px;
  margin: 0 auto;
  position: relative
}

main{
  padding: 25px;
}

.app.warm {
  background-image: url('./assets/summer.jpg')

}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255,255,255,0.75);
  border-radius: 0px 0px 15px 15px;
  margin-top: -25px;
  box-shadow: 4px 5px rgba(0,0,0, 0.3) ;
}
.search-box .search-bar:focus {
  background-color: rgba(255,255,255,0.98);

}

.location-box {
  color: #190123;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 1px rgba( 50 ,50 , 70 , 0.5)
}
.weather-box {
  text-align: center;
  color: #190123;
  font-size: 32px;
  font-weight: lighter;
  text-shadow: 2px 2px rgba(50,50,70,0.5)
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255,255,255, 0.2);

  padding: 15px 25px;

  color: #190123;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50,50,70,0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0 ,0 , 0.2);

}

.buttonInput{
  display: none;
}
