* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
}
body {
  font-family: 'montseratt' , sans-serif;

}


.weather {
  z-index: 2;
}
.app {
  background-image: url('./assets/forecast1.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.2s ease-out;
  width:500px;
  height:500px;
  margin: 0 auto;
  position: relative
}

main{
  padding-top: 25px;
}




